html{
  overflow-x: hidden;
}

body {  
  background-image: url(../images/prism.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

#display {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#display td, #display th {
    border: 1px solid #ddd;
    padding: 8px;
}

#display tr:nth-child(even){background-color: #44ffee;}

#display tr:hover {background-color: #2ca69b;}

#display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
}


.tablewrap{
    width: 80%;
    padding-top: 50px;
    margin: auto;
}

.formwrap{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%  ;
  margin: 50px auto 50px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input100 {
    font-family: Raleway-SemiBold;
    font-size: 18px;
    line-height: 1.2;
    color: #686868;
    display: block;
    width: 45%;
    background: #3ADAD6;
    height: 30px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}

.input100-2 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
    line-height: 1.2;
    color: #686868;
    display: block;
    width: 60%;
    background: #3ADAD6;
    height: 60px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}

.cover {
  background-size: cover;
  background-position: center center; }
  .cover .text .heading {
    font-size: 70px;
    line-height: 1; }
  .cover .text .subheading p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .cover .btn {
      width: 100% !important;
      border: 1px solid red; } }

 .nav {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2); }
  .nav .site-brand {
    font-size: 20px; }
    .nav .site-brand a {
      color: #fff; }
  .nav .toggle {
    color: #fff !important;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px; }
  .nav .main-nav {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .nav .main-nav ul {
      padding: 0;
      margin: 0; }
      .nav .main-nav ul li {
        display: inline;
        list-style: none; }
        .nav .main-nav ul li a {
          padding: 10px;
          color: rgba(255, 255, 255, .5); }
        .nav .main-nav ul li.seperator {
          position: relative; }
          .nav .main-nav ul li.seperator:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: rgba(255, 255, 255, 0.1); }
    @media screen and (max-width: 768px) {
      .nav .main-nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 100vh;
        background: black;
        width: 300px;
        right: 0;
        top: 0;
        padding-top: 50px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 1; }
        .nav .main-nav.active {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
          transform: translateX(0%); }
        .nav .main-nav ul li {
          display: block;
          padding: 10px; }
          .nav .main-nav ul li a:hover {
            color: #fff; } }

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.btn {
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: 58,218,214;
    border-color: 197,37,41;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      background: #4c5b5c; }
  .btn.btn-outline-white {
    border-color: #fff;
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      color: #000; }

.btn2 {
  margin-left: 10%;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn2:hover, .btn2:active, .btn2:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn2.btn2-primary {
    background: #568259;
    border-color: 197,37,41;
    color: #fff; }
    .btn2.btn2-primary:hover, .btn2.btn2-primary:focus, .btn2.btn2-primary:active {
      background: #59cd90; }
  .btn2.btn2-outline-white {
    border-color: #fff;
    background: none; }
    .btn2.btn2-outline-white:hover, .btn2.btn2-outline-white:focus, .btn2.btn2-outline-white:active {
      background: #fff;
      color: #000; }