<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formsmain.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/landing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstra-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link" data-toggle="tooltip" title="Event Calendar"><img src="{{ url_for('static', filename='images/calendar.png') }}"></a></li>
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ url_for('static', filename='images/user.png') }}"></button>
                <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Preferences</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>
          </ul>
            Logged in as {{current_user.username}}
        </div>
      </div>
    </nav>

    <section class="probootstrap-cover">
      <div class="limiter">
        <div class="container-login100-2">
          <div class="wrap-venue100">

            <form class="login100-form validate-form" action="/addvenue" method="POST">
                {{ form.csrf_token }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
              <span class="login100-form-title-2">
                Add Venue
              </span>

              <div class="row">
                <span class="venue-txt">
                Input Details:
                </span>

                <span class="venue-txt2">
                Additional Information:
                </span>
              </div>

              <div class="row">
                <div class="venueform-wrap">
                  {{ form.room(class="form-control pb_height-50 reverse", placeholder="Room Name" ) }}
                </div>

                <div class="venueform-wrap">
                {{ form.capacity(class="form-control pb_height-50 reverse", placeholder="Capacity" ) }}
                </div>
                
              </div>

              <div class="row">
                <div class="venueform-wrap">
                  {{ form.college(class="form-control pb_height-50 reverse", placeholder="College" ) }}
                </div>
              
                <div class="venueform-wrap">
                  {{ form.rate(class="form-control pb_height-50 reverse", placeholder="Rate (Php/hr)" ) }}
                </div>
              </div>
              
              <div class="row">
                <span class="venue-txt">
                  If others, please specify:
                </span>

                <span class="venue-txt2">
                Equipments:
              </span>
              </div>

              <div class="row">
                <div class="venueform-wrap">
                  {{ form.location(class="form-control pb_height-50 reverse", placeholder="Select Location" ) }}
                </div>
                
                <div class="venueform-wrap">
                  {{ form.equipment(class="form-control pb_height-50 reverse", placeholder="Equipments" ) }}
                </div>
              </div>
              
             
                <!-- <div class="row">
                  <span class="txt1">
                      Add Image
                  </span>
                </div>

                <div class="row">
                  <form action="/venue/add">
                    <input type="file" class="form-control pb_height-50 reverse" name="pic" accept="image/*">
                  </form>
                </div>
 -->
              <div class="container-login100-form-btn">
                {{ form.submit(class="login100-form-btn")}}
              </div>
            </form>          
          </div>
        </div>
      </div>  
    </section>



    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>

</html>

<!-- 
                  <select class="form-control pb_height-50 reverse" placeholder="College" name="college">
                    <option value="" selected>--College--</option>
                    <option value="">CASS</option>
                    <option value="">CBAA</option>
                    <option value="">CED</option>
                    <option value="">CED-IDS</option>
                    <option value="">COET</option>
                    <option value="">CSM</option>
                    <option value="">CON</option>
                    <option value="">CON</option>
                    <option value="">PRISM</option>
                    <option value="">SCS</option>
                  </select> -->