<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venue - Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/landing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link" data-toggle="tooltip" title="Event Calendar"><img src="{{ url_for('static', filename='images/calendar.png') }}"></a></li>
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ url_for('static', filename='images/user.png') }}"></button>
                <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>

          </ul>
            Logged in as {{current_user.username}}
        </div>
      </div>
    </nav>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
            {% for event in events %}
            {% if event.status == 'Pending'%}
            <ul class="event-list">
                <li>
                    <time datetime="2014-07-20">
{#                        <span class="year">{{ event.date.strftime("%Y") }}</span> <!--  insert year here  -->#}
                        <span class="day">{{ event.date.strftime("%d") }}</span> <!--  insert day here  -->
                        <span class="month">{{ event.date.strftime("%B") }}</span> <!--  insert month here  -->
                        <span class="time">{{ event.start.strftime("%I:%M") }} - {{ event.end.strftime("%I:%M") }}, {{event.date.strftime("%Y") }}</span> <!-- insert time  -->
                    </time>
                    <img alt="alttitle" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" /> <!--  insert image here  -->
                    <div class="info">
                        <h2 class="title">{{ event.title }}</h2> <!--  insert title here  -->
                        {% for user in users %}
                        {% if user.id == event.organizer %}
                        
                        <p class="desc">{{ user.fname + ' ' + user.lname }}</p>
                        {%endif%}{%endfor%}
                        <p class="desc">{{ event.description }}</p> <!--  inert catchphrase  -->
                        <p class="stat">{{ event.status }}</p> <!--  insert catchphrase  -->
                    </div>
                    <div class="social">
                        <ul>
                            <form action="/event/{{event.id}}/approved" method="post">
                            <button class="approved"><img src="{{ url_for('static', filename='images/approved.png') }}" width="50" height="50"></button>
                            </form>
                            <form action="/event/{{event.id}}/rejected" method="post">
                            <button class="rejected"><img src="{{ url_for('static', filename='images/rejected.png') }}" width="50" height="50"></button>
                            </form>
                        </ul>
                    </div>
                </li>
            </ul>
            {%endif %}
            {% endfor %}
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>

