<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookIIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/msulogo.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
        <div class="container">
          <a class="navbar-brand" href="/index"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/landing" class="nav-link"><img src="{{ url_for('static', filename='images/calendar.png') }}"></a></li>
          </ul>
        </div>
      </div>
    </nav>

     
    <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-100 align-items-center text-center">
          <div class="col-sm">
            <div class="probootstrap-text">
              <h1 class="probootstrap-heading text-white mb-4"></h1><img src="{{ url_for('static', filename='images/homelogo.png') }}" alt="Home"</a></h1>
                <p>
                  <a href="/login" class="btn btn-primary mr-2 mb-2">Log In</a>
                  <a href="/register" class="btn btn-primary mr-2 mb-2">Sign Up</a>
                  <!-- <a class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target="#modLogin">Log In</a> -->
				          <!-- <a class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target="#modSignup" >Sign Up</a> -->
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>


<!--- LOG IN !--->
 <div id="modLogin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="#" class="bg-white rounded pb_form_v1">
              <h2 class="mb-4 mt-0 text-center">Log In</h2>
              <div class="form-group">
                <input type="text" class="form-control pb_height-50 reverse" placeholder="Username/Email" name=user_id required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control pb_height-50 reverse" placeholder="Password" name="psw" required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Log In">
              </div>
            </form>
      </div>
    </div>

  </div>
</div>


<!--- SIGN UP !--->
<!-- <div id="modSignup" class="modal fade" role="dialog">
  <div class="modal-dialog"> -->

    <!-- Modal content-->
   <!--  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="#" class="bg-white rounded pb_form_v1">
              <h2 class="mb-4 mt-0 text-center">Sign Up for Free</h2>
              <div class="form-group">
                <input type="text" class="form-control pb_height-50 reverse" placeholder="First Name" name="fname" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control pb_height-50 reverse" placeholder="Last Name" name="lname" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control pb_height-50 reverse" placeholder="Username" name="lname" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control pb_height-50 reverse" placeholder="Email" name="mail" required>
              </div> 
              <div class="form-group">
                <input type="password" class="form-control pb_height-50 reverse" placeholder="Password" name="psw" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control pb_height-50 reverse" placeholder="Retype Password" name="psw" required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Sign Up">
              </div>
            </form>
      </div>
    </div>
  </div>
</div> -->


    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>