<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venue - Manage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/landing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link" data-toggle="tooltip" title="Event Calendar"><img src="{{ url_for('static', filename='images/calendar.png') }}"></a></li>
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ url_for('static', filename='images/user.png') }}"></button>
                <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>

          </ul>
            Logged in as {{current_user.username}}
        </div>
      </div>
    </nav>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row align-items-center">


    <div class="tablewrap">
      <table id="display">
        <thead>
                <tr>
                   <th colspan = "6" align="center"><b>Venues</b></th>
                </tr>
             </thead>
        <tr>
          <th>Name</th>
          <th>College</th>
          <th>Capacity</th>
          <th>Rate</th>
          <th>Equipment</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tbody>
        {% for college in colleges %}
            {% for venue in venues %}
                {% if venue.college == college.id %}
                    <tr id={{ venue.id}}>
                        <td>{{venue.name}}</td>
                        <td>{{college.name}}</td>
                        <td>{{venue.capacity}}</td>
                        <td>{{venue.rate}}</td>
                        <td>{{venue.equipment}}</td>
                        <td><a href="/editvenue/{{ venue.id }}">Edit</a></td>
                        <td><a href="/deletevenue/{{ venue.id }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>

              <div class="col-md-6">
                <a class="probootstrap-img-item" href="/addvenue"><span class="icon icon-plus"></span><div style="background-image: url(../static/images/add.png); background-size: 70px 70px; background-position: center;"></div></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>

